.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: rgba(29, 31, 32, 0.9);
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding {
  background: rgba(53, 51, 51, 0.9);
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding .portrait {
  max-height: 6400px;
  max-width: 6400px;
  width: 250px;
  height: 250px;
  background: url("../img/me3.jpg");
  border-radius: 50%;
  border: solid 3px #eece1a;
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  color: ##eece1a;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: #eece1a;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(5, 6, 10);
  color: rgb(225, 223, 243);
  min-height: calc(100vh - 60px);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
body#bg-img {
  background: url(../img/i4a.jpg);
  background-attachment: fixed;
  background-size: cover;
}
body#bg-img .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: rgba(68, 68, 68, 0.5);
}

body#stareffect {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 506px 924px #FFF , 608px 1697px #FFF , 1167px 1513px #FFF , 926px 1957px #FFF , 713px 92px #FFF , 1354px 1132px #FFF , 1542px 346px #FFF , 598px 473px #FFF , 791px 1686px #FFF , 355px 1286px #FFF , 329px 1726px #FFF , 672px 1129px #FFF , 254px 767px #FFF , 1693px 276px #FFF , 1333px 99px #FFF , 1280px 1536px #FFF , 1332px 146px #FFF , 331px 246px #FFF , 1408px 1452px #FFF , 1137px 834px #FFF , 708px 1117px #FFF , 321px 39px #FFF , 743px 1587px #FFF , 931px 687px #FFF , 1489px 641px #FFF , 517px 260px #FFF , 1573px 515px #FFF , 1803px 818px #FFF , 207px 18px #FFF , 1991px 1075px #FFF , 1369px 1570px #FFF , 987px 88px #FFF , 1941px 1826px #FFF , 173px 582px #FFF , 1226px 311px #FFF , 1151px 1400px #FFF , 1732px 1615px #FFF , 1793px 704px #FFF , 1756px 1804px #FFF , 1734px 63px #FFF , 1898px 1498px #FFF , 1521px 1805px #FFF , 1718px 1540px #FFF , 1577px 1390px #FFF , 1143px 877px #FFF , 353px 534px #FFF , 849px 934px #FFF , 1739px 184px #FFF , 150px 992px #FFF , 1766px 234px #FFF , 1319px 592px #FFF , 917px 893px #FFF , 781px 715px #FFF , 1795px 1349px #FFF , 1295px 1872px #FFF , 1676px 419px #FFF , 1119px 248px #FFF , 1259px 86px #FFF , 1549px 1879px #FFF , 1955px 416px #FFF , 1770px 1051px #FFF , 415px 1027px #FFF , 759px 87px #FFF , 618px 1268px #FFF , 294px 1221px #FFF , 1507px 1765px #FFF , 179px 342px #FFF , 583px 1150px #FFF , 351px 855px #FFF , 1366px 1865px #FFF , 428px 1319px #FFF , 1567px 272px #FFF , 62px 985px #FFF , 1402px 1149px #FFF , 865px 1508px #FFF , 1669px 592px #FFF , 1610px 626px #FFF , 1889px 661px #FFF , 690px 350px #FFF , 1473px 1377px #FFF , 416px 54px #FFF , 140px 139px #FFF , 1169px 1935px #FFF , 1179px 1600px #FFF , 1417px 65px #FFF , 1469px 305px #FFF , 959px 634px #FFF , 1138px 1475px #FFF , 1336px 892px #FFF , 1240px 754px #FFF , 1647px 1829px #FFF , 165px 1229px #FFF , 489px 322px #FFF , 1436px 201px #FFF , 778px 471px #FFF , 1570px 1807px #FFF , 1565px 1042px #FFF , 81px 218px #FFF , 519px 455px #FFF , 854px 79px #FFF , 528px 783px #FFF , 107px 746px #FFF , 543px 936px #FFF , 1052px 19px #FFF , 184px 1724px #FFF , 21px 1489px #FFF , 66px 393px #FFF , 517px 666px #FFF , 913px 495px #FFF , 1392px 1910px #FFF , 1669px 608px #FFF , 1835px 611px #FFF , 165px 1526px #FFF , 1597px 333px #FFF , 223px 264px #FFF , 1672px 562px #FFF , 42px 549px #FFF , 1601px 184px #FFF , 1885px 1429px #FFF , 1143px 1619px #FFF , 1267px 1776px #FFF , 347px 434px #FFF , 1128px 1747px #FFF , 218px 1627px #FFF , 260px 988px #FFF , 849px 1416px #FFF , 1064px 1156px #FFF , 1489px 1114px #FFF , 1457px 474px #FFF , 1460px 477px #FFF , 90px 1034px #FFF , 588px 824px #FFF , 1471px 815px #FFF , 137px 562px #FFF , 958px 863px #FFF , 746px 1206px #FFF , 759px 1008px #FFF , 1894px 1378px #FFF , 1754px 517px #FFF , 248px 1046px #FFF , 1174px 335px #FFF , 422px 19px #FFF , 852px 819px #FFF , 829px 373px #FFF , 423px 1697px #FFF , 688px 1786px #FFF , 1455px 406px #FFF , 1981px 1715px #FFF , 413px 1552px #FFF , 1210px 559px #FFF , 567px 1793px #FFF , 1844px 1575px #FFF , 734px 1559px #FFF , 990px 618px #FFF , 589px 1157px #FFF , 1182px 306px #FFF , 1358px 1541px #FFF , 821px 172px #FFF , 929px 1715px #FFF , 728px 138px #FFF , 1661px 105px #FFF , 1692px 907px #FFF , 1623px 506px #FFF , 538px 790px #FFF , 638px 1005px #FFF , 112px 1140px #FFF , 432px 332px #FFF , 1944px 1292px #FFF , 1428px 237px #FFF , 720px 1924px #FFF , 1075px 560px #FFF , 1105px 625px #FFF , 1957px 722px #FFF , 675px 509px #FFF , 914px 138px #FFF , 235px 495px #FFF , 1412px 1848px #FFF , 760px 1087px #FFF , 1656px 930px #FFF , 1886px 897px #FFF , 688px 1198px #FFF , 388px 1502px #FFF , 1293px 1196px #FFF , 1188px 1183px #FFF , 678px 267px #FFF , 223px 420px #FFF , 694px 1238px #FFF , 664px 693px #FFF , 893px 1035px #FFF , 1982px 1538px #FFF , 1352px 983px #FFF , 687px 1551px #FFF , 1404px 83px #FFF , 1371px 152px #FFF , 615px 1698px #FFF , 1882px 52px #FFF , 1321px 85px #FFF , 783px 1355px #FFF , 1298px 1636px #FFF , 1358px 1040px #FFF , 828px 1672px #FFF , 1350px 1510px #FFF , 477px 1491px #FFF , 355px 1336px #FFF , 43px 539px #FFF , 1744px 503px #FFF , 1218px 1452px #FFF , 651px 69px #FFF , 1915px 1191px #FFF , 574px 841px #FFF , 257px 421px #FFF , 998px 1606px #FFF , 1601px 1928px #FFF , 1758px 1874px #FFF , 959px 327px #FFF , 1024px 364px #FFF , 685px 1573px #FFF , 1051px 112px #FFF , 573px 938px #FFF , 1212px 425px #FFF , 547px 551px #FFF , 1907px 1247px #FFF , 558px 548px #FFF , 525px 1021px #FFF , 945px 1308px #FFF , 781px 1341px #FFF , 1918px 417px #FFF , 1727px 1214px #FFF , 1978px 976px #FFF , 1454px 1636px #FFF , 873px 727px #FFF , 122px 1790px #FFF , 415px 1158px #FFF , 1886px 18px #FFF , 1608px 1935px #FFF , 1946px 1885px #FFF , 350px 1226px #FFF , 1937px 1474px #FFF , 304px 1289px #FFF , 1162px 1239px #FFF , 1256px 1771px #FFF , 1208px 623px #FFF , 385px 478px #FFF , 1768px 640px #FFF , 597px 1021px #FFF , 920px 299px #FFF , 579px 1239px #FFF , 9px 1584px #FFF , 852px 1461px #FFF , 629px 1040px #FFF , 1009px 868px #FFF , 1878px 563px #FFF , 1788px 866px #FFF , 1530px 1308px #FFF , 865px 958px #FFF , 1469px 696px #FFF , 644px 1858px #FFF , 1246px 1163px #FFF , 1230px 1516px #FFF , 1768px 151px #FFF , 1709px 836px #FFF , 881px 1439px #FFF , 1887px 1086px #FFF , 1590px 1062px #FFF , 1142px 1042px #FFF , 1272px 1479px #FFF , 1089px 1679px #FFF , 1999px 992px #FFF , 289px 556px #FFF , 174px 73px #FFF , 1567px 1009px #FFF , 1640px 858px #FFF , 1984px 1797px #FFF , 407px 1048px #FFF , 207px 103px #FFF , 511px 1431px #FFF , 1368px 444px #FFF , 1466px 1295px #FFF , 1382px 1170px #FFF , 1156px 1514px #FFF , 786px 1006px #FFF , 1114px 1072px #FFF , 1244px 743px #FFF , 204px 1525px #FFF , 894px 1386px #FFF , 1556px 1813px #FFF , 1853px 1938px #FFF , 378px 1987px #FFF , 1603px 449px #FFF , 147px 269px #FFF , 1464px 1911px #FFF , 352px 91px #FFF , 1407px 1319px #FFF , 181px 1647px #FFF , 498px 373px #FFF , 932px 627px #FFF , 574px 733px #FFF , 866px 1711px #FFF , 9px 1435px #FFF , 177px 882px #FFF , 794px 709px #FFF , 323px 631px #FFF , 1042px 864px #FFF , 1073px 1949px #FFF , 1373px 1977px #FFF , 1704px 1561px #FFF , 517px 789px #FFF , 1783px 1293px #FFF , 1189px 217px #FFF , 1055px 171px #FFF , 1539px 1448px #FFF , 1270px 46px #FFF , 1338px 93px #FFF , 1377px 396px #FFF , 622px 1353px #FFF , 1425px 1313px #FFF , 1843px 685px #FFF , 1525px 1806px #FFF , 325px 1436px #FFF , 1602px 998px #FFF , 1258px 1838px #FFF , 964px 1690px #FFF , 1298px 788px #FFF , 340px 1891px #FFF , 1797px 330px #FFF , 393px 1982px #FFF , 1020px 1076px #FFF , 1595px 1603px #FFF , 1896px 601px #FFF , 1293px 130px #FFF , 1932px 936px #FFF , 135px 381px #FFF , 287px 736px #FFF , 1674px 1769px #FFF , 803px 152px #FFF , 986px 941px #FFF , 57px 742px #FFF , 1466px 166px #FFF , 1636px 480px #FFF , 816px 1565px #FFF , 728px 1926px #FFF , 535px 1495px #FFF , 636px 1423px #FFF , 870px 1081px #FFF , 1855px 1594px #FFF , 529px 229px #FFF , 1633px 744px #FFF , 1842px 1118px #FFF , 1637px 606px #FFF , 1551px 677px #FFF , 1761px 1921px #FFF , 1105px 39px #FFF , 1757px 1347px #FFF , 1200px 22px #FFF , 377px 1973px #FFF , 1264px 1504px #FFF , 1941px 1156px #FFF , 1598px 1872px #FFF , 435px 1526px #FFF , 279px 1527px #FFF , 338px 1208px #FFF , 62px 1609px #FFF , 1901px 33px #FFF , 1832px 740px #FFF , 826px 1315px #FFF , 1399px 1001px #FFF , 1791px 1688px #FFF , 153px 411px #FFF , 275px 1908px #FFF , 904px 1224px #FFF , 676px 226px #FFF , 925px 672px #FFF , 846px 1819px #FFF , 537px 1975px #FFF , 1335px 343px #FFF , 957px 1836px #FFF , 105px 1753px #FFF , 955px 1108px #FFF , 1628px 630px #FFF , 398px 25px #FFF , 893px 709px #FFF , 73px 1627px #FFF , 1262px 1042px #FFF , 1437px 258px #FFF , 1310px 1854px #FFF , 895px 420px #FFF , 718px 681px #FFF , 1927px 1462px #FFF , 1425px 1431px #FFF , 421px 1703px #FFF , 378px 533px #FFF , 427px 1879px #FFF , 1691px 813px #FFF , 123px 1788px #FFF , 1970px 582px #FFF , 858px 1572px #FFF , 1822px 1310px #FFF , 1784px 1279px #FFF , 541px 1057px #FFF , 1558px 796px #FFF , 261px 100px #FFF , 946px 1117px #FFF , 687px 1773px #FFF , 1216px 1184px #FFF , 1654px 274px #FFF , 1512px 1893px #FFF , 233px 451px #FFF , 846px 1068px #FFF , 128px 1513px #FFF , 1199px 1098px #FFF , 1538px 1562px #FFF , 1930px 1582px #FFF , 1004px 1879px #FFF , 1551px 1046px #FFF , 886px 144px #FFF , 1727px 194px #FFF , 75px 120px #FFF , 868px 747px #FFF , 1548px 211px #FFF , 1821px 1750px #FFF , 1667px 1525px #FFF , 1181px 1651px #FFF , 1843px 316px #FFF , 1193px 1672px #FFF , 1946px 1016px #FFF , 956px 1685px #FFF , 1074px 968px #FFF , 1347px 1690px #FFF , 939px 1940px #FFF , 952px 718px #FFF , 1315px 443px #FFF , 1332px 507px #FFF , 1847px 1275px #FFF , 637px 1813px #FFF , 40px 1161px #FFF , 142px 1724px #FFF , 322px 193px #FFF , 998px 720px #FFF , 1449px 539px #FFF , 191px 1455px #FFF , 1607px 1554px #FFF , 1745px 1915px #FFF , 1398px 1107px #FFF , 1649px 1263px #FFF , 1320px 1601px #FFF , 741px 1920px #FFF , 1815px 1000px #FFF , 668px 1605px #FFF , 1409px 787px #FFF , 875px 1299px #FFF , 1525px 47px #FFF , 417px 1144px #FFF , 638px 1651px #FFF , 164px 1531px #FFF , 1984px 1751px #FFF , 838px 382px #FFF , 1126px 1866px #FFF , 400px 191px #FFF , 1214px 881px #FFF , 1554px 1549px #FFF , 204px 1555px #FFF , 1031px 1550px #FFF , 1895px 962px #FFF , 1165px 928px #FFF , 896px 1658px #FFF , 1255px 377px #FFF , 1688px 1985px #FFF , 761px 715px #FFF , 1212px 926px #FFF , 10px 1410px #FFF , 1334px 823px #FFF , 673px 483px #FFF , 718px 1280px #FFF , 194px 1904px #FFF , 362px 1392px #FFF , 261px 950px #FFF , 1438px 1526px #FFF , 733px 765px #FFF , 648px 922px #FFF , 147px 1221px #FFF , 796px 1602px #FFF , 906px 331px #FFF , 1352px 324px #FFF , 1632px 411px #FFF , 1407px 1014px #FFF , 1379px 290px #FFF , 1713px 251px #FFF , 1864px 242px #FFF , 1722px 841px #FFF , 350px 610px #FFF , 576px 39px #FFF , 2px 799px #FFF , 662px 1250px #FFF , 1501px 1305px #FFF , 369px 325px #FFF , 1836px 222px #FFF , 1056px 913px #FFF , 784px 1512px #FFF , 1319px 685px #FFF , 982px 1668px #FFF , 731px 172px #FFF , 1516px 793px #FFF , 1400px 548px #FFF , 805px 613px #FFF , 1410px 448px #FFF , 1429px 528px #FFF , 992px 954px #FFF , 1775px 893px #FFF , 1688px 990px #FFF , 203px 1912px #FFF , 1093px 1506px #FFF , 1186px 1282px #FFF , 228px 1793px #FFF , 986px 1541px #FFF , 1189px 857px #FFF , 704px 1712px #FFF , 1740px 1828px #FFF , 39px 1526px #FFF , 1758px 1364px #FFF , 1014px 1108px #FFF , 53px 464px #FFF , 1317px 1146px #FFF , 1755px 697px #FFF , 692px 1010px #FFF , 1134px 1216px #FFF , 333px 1256px #FFF , 1124px 1973px #FFF , 689px 914px #FFF , 1811px 1094px #FFF , 1923px 1315px #FFF , 1761px 1472px #FFF , 1873px 188px #FFF , 49px 1227px #FFF , 1833px 925px #FFF , 1448px 1575px #FFF , 473px 1804px #FFF , 721px 1722px #FFF , 232px 881px #FFF , 1658px 828px #FFF , 1882px 51px #FFF , 1646px 1146px #FFF , 1142px 1983px #FFF , 748px 881px #FFF , 1667px 164px #FFF , 278px 1341px #FFF , 920px 370px #FFF , 1484px 1564px #FFF , 1159px 788px #FFF , 1904px 333px #FFF , 962px 632px #FFF , 1793px 1612px #FFF , 1544px 78px #FFF , 1579px 1114px #FFF , 1900px 1959px #FFF , 1471px 596px #FFF , 1831px 632px #FFF , 450px 1985px #FFF , 1200px 1396px #FFF , 1567px 1905px #FFF , 513px 201px #FFF , 1515px 626px #FFF , 1704px 1153px #FFF , 1208px 1109px #FFF , 759px 1634px #FFF , 1111px 1889px #FFF , 1223px 1876px #FFF , 1301px 1602px #FFF , 180px 942px #FFF , 1753px 1070px #FFF , 1967px 1792px #FFF , 1440px 1689px #FFF , 1981px 377px #FFF , 1283px 1419px #FFF , 1639px 917px #FFF , 698px 1116px #FFF , 169px 208px #FFF , 491px 978px #FFF , 1912px 934px #FFF , 667px 393px #FFF , 1056px 1692px #FFF , 295px 1745px #FFF , 314px 909px #FFF , 101px 1913px #FFF , 61px 712px #FFF , 1158px 1005px #FFF , 1367px 917px #FFF , 1516px 573px #FFF , 135px 1007px #FFF , 276px 986px #FFF , 525px 1331px #FFF , 491px 1578px #FFF , 532px 1169px #FFF , 1765px 1000px #FFF , 231px 254px #FFF , 489px 1582px #FFF , 647px 1397px #FFF , 1345px 862px #FFF , 184px 1494px #FFF , 668px 559px #FFF , 1998px 533px #FFF , 1440px 745px #FFF , 988px 148px #FFF , 1735px 1231px #FFF , 1156px 1085px #FFF , 1539px 1259px #FFF , 626px 53px #FFF , 1576px 550px #FFF , 740px 170px #FFF , 718px 677px #FFF , 146px 856px #FFF , 445px 939px #FFF , 1490px 789px #FFF , 274px 972px #FFF , 1632px 1420px #FFF , 317px 343px #FFF , 42px 1334px #FFF , 1614px 1414px #FFF , 494px 1649px #FFF , 525px 1657px #FFF , 339px 184px #FFF , 727px 424px #FFF , 1864px 1541px #FFF , 829px 387px #FFF , 312px 1448px #FFF , 1069px 88px #FFF , 876px 541px #FFF , 1508px 283px #FFF , 1032px 792px #FFF , 334px 61px #FFF , 1867px 1734px #FFF , 629px 1387px #FFF , 131px 1220px #FFF , 1528px 301px #FFF , 629px 407px #FFF , 580px 29px #FFF , 118px 1654px #FFF , 319px 1143px #FFF , 172px 1639px #FFF , 1965px 1285px #FFF , 537px 1538px #FFF , 775px 892px #FFF , 1600px 429px #FFF , 329px 345px #FFF , 426px 717px #FFF , 1330px 1715px #FFF , 1320px 498px #FFF , 118px 892px #FFF , 723px 1105px #FFF , 1568px 1267px #FFF , 1925px 1912px #FFF , 868px 249px #FFF , 1529px 784px #FFF , 857px 736px #FFF , 601px 1020px #FFF , 1876px 1610px #FFF , 1035px 951px #FFF , 1447px 1349px #FFF , 445px 811px #FFF , 1153px 1169px #FFF , 1126px 1045px #FFF , 509px 1556px #FFF , 1422px 569px #FFF , 781px 523px #FFF , 1534px 1006px #FFF , 136px 426px #FFF , 1125px 928px #FFF , 458px 412px #FFF , 1666px 186px #FFF , 531px 1111px #FFF , 275px 1820px #FFF , 757px 1136px #FFF , 1088px 1596px #FFF , 1920px 758px #FFF , 542px 1885px #FFF , 1241px 153px #FFF , 655px 405px #FFF , 1187px 667px #FFF , 486px 1005px #FFF , 537px 172px #FFF , 1528px 977px #FFF , 1105px 563px #FFF , 318px 1112px #FFF , 1754px 1234px #FFF , 645px 1429px #FFF , 941px 1228px #FFF , 1152px 1573px #FFF , 817px 888px #FFF , 685px 1236px #FFF , 1671px 1964px #FFF , 1293px 1626px #FFF , 889px 223px #FFF , 689px 1556px #FFF , 35px 1834px #FFF , 1679px 2px #FFF , 1020px 1910px #FFF , 1491px 1207px #FFF , 1018px 532px #FFF , 157px 1359px #FFF , 737px 877px #FFF , 28px 397px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 506px 924px #FFF , 608px 1697px #FFF , 1167px 1513px #FFF , 926px 1957px #FFF , 713px 92px #FFF , 1354px 1132px #FFF , 1542px 346px #FFF , 598px 473px #FFF , 791px 1686px #FFF , 355px 1286px #FFF , 329px 1726px #FFF , 672px 1129px #FFF , 254px 767px #FFF , 1693px 276px #FFF , 1333px 99px #FFF , 1280px 1536px #FFF , 1332px 146px #FFF , 331px 246px #FFF , 1408px 1452px #FFF , 1137px 834px #FFF , 708px 1117px #FFF , 321px 39px #FFF , 743px 1587px #FFF , 931px 687px #FFF , 1489px 641px #FFF , 517px 260px #FFF , 1573px 515px #FFF , 1803px 818px #FFF , 207px 18px #FFF , 1991px 1075px #FFF , 1369px 1570px #FFF , 987px 88px #FFF , 1941px 1826px #FFF , 173px 582px #FFF , 1226px 311px #FFF , 1151px 1400px #FFF , 1732px 1615px #FFF , 1793px 704px #FFF , 1756px 1804px #FFF , 1734px 63px #FFF , 1898px 1498px #FFF , 1521px 1805px #FFF , 1718px 1540px #FFF , 1577px 1390px #FFF , 1143px 877px #FFF , 353px 534px #FFF , 849px 934px #FFF , 1739px 184px #FFF , 150px 992px #FFF , 1766px 234px #FFF , 1319px 592px #FFF , 917px 893px #FFF , 781px 715px #FFF , 1795px 1349px #FFF , 1295px 1872px #FFF , 1676px 419px #FFF , 1119px 248px #FFF , 1259px 86px #FFF , 1549px 1879px #FFF , 1955px 416px #FFF , 1770px 1051px #FFF , 415px 1027px #FFF , 759px 87px #FFF , 618px 1268px #FFF , 294px 1221px #FFF , 1507px 1765px #FFF , 179px 342px #FFF , 583px 1150px #FFF , 351px 855px #FFF , 1366px 1865px #FFF , 428px 1319px #FFF , 1567px 272px #FFF , 62px 985px #FFF , 1402px 1149px #FFF , 865px 1508px #FFF , 1669px 592px #FFF , 1610px 626px #FFF , 1889px 661px #FFF , 690px 350px #FFF , 1473px 1377px #FFF , 416px 54px #FFF , 140px 139px #FFF , 1169px 1935px #FFF , 1179px 1600px #FFF , 1417px 65px #FFF , 1469px 305px #FFF , 959px 634px #FFF , 1138px 1475px #FFF , 1336px 892px #FFF , 1240px 754px #FFF , 1647px 1829px #FFF , 165px 1229px #FFF , 489px 322px #FFF , 1436px 201px #FFF , 778px 471px #FFF , 1570px 1807px #FFF , 1565px 1042px #FFF , 81px 218px #FFF , 519px 455px #FFF , 854px 79px #FFF , 528px 783px #FFF , 107px 746px #FFF , 543px 936px #FFF , 1052px 19px #FFF , 184px 1724px #FFF , 21px 1489px #FFF , 66px 393px #FFF , 517px 666px #FFF , 913px 495px #FFF , 1392px 1910px #FFF , 1669px 608px #FFF , 1835px 611px #FFF , 165px 1526px #FFF , 1597px 333px #FFF , 223px 264px #FFF , 1672px 562px #FFF , 42px 549px #FFF , 1601px 184px #FFF , 1885px 1429px #FFF , 1143px 1619px #FFF , 1267px 1776px #FFF , 347px 434px #FFF , 1128px 1747px #FFF , 218px 1627px #FFF , 260px 988px #FFF , 849px 1416px #FFF , 1064px 1156px #FFF , 1489px 1114px #FFF , 1457px 474px #FFF , 1460px 477px #FFF , 90px 1034px #FFF , 588px 824px #FFF , 1471px 815px #FFF , 137px 562px #FFF , 958px 863px #FFF , 746px 1206px #FFF , 759px 1008px #FFF , 1894px 1378px #FFF , 1754px 517px #FFF , 248px 1046px #FFF , 1174px 335px #FFF , 422px 19px #FFF , 852px 819px #FFF , 829px 373px #FFF , 423px 1697px #FFF , 688px 1786px #FFF , 1455px 406px #FFF , 1981px 1715px #FFF , 413px 1552px #FFF , 1210px 559px #FFF , 567px 1793px #FFF , 1844px 1575px #FFF , 734px 1559px #FFF , 990px 618px #FFF , 589px 1157px #FFF , 1182px 306px #FFF , 1358px 1541px #FFF , 821px 172px #FFF , 929px 1715px #FFF , 728px 138px #FFF , 1661px 105px #FFF , 1692px 907px #FFF , 1623px 506px #FFF , 538px 790px #FFF , 638px 1005px #FFF , 112px 1140px #FFF , 432px 332px #FFF , 1944px 1292px #FFF , 1428px 237px #FFF , 720px 1924px #FFF , 1075px 560px #FFF , 1105px 625px #FFF , 1957px 722px #FFF , 675px 509px #FFF , 914px 138px #FFF , 235px 495px #FFF , 1412px 1848px #FFF , 760px 1087px #FFF , 1656px 930px #FFF , 1886px 897px #FFF , 688px 1198px #FFF , 388px 1502px #FFF , 1293px 1196px #FFF , 1188px 1183px #FFF , 678px 267px #FFF , 223px 420px #FFF , 694px 1238px #FFF , 664px 693px #FFF , 893px 1035px #FFF , 1982px 1538px #FFF , 1352px 983px #FFF , 687px 1551px #FFF , 1404px 83px #FFF , 1371px 152px #FFF , 615px 1698px #FFF , 1882px 52px #FFF , 1321px 85px #FFF , 783px 1355px #FFF , 1298px 1636px #FFF , 1358px 1040px #FFF , 828px 1672px #FFF , 1350px 1510px #FFF , 477px 1491px #FFF , 355px 1336px #FFF , 43px 539px #FFF , 1744px 503px #FFF , 1218px 1452px #FFF , 651px 69px #FFF , 1915px 1191px #FFF , 574px 841px #FFF , 257px 421px #FFF , 998px 1606px #FFF , 1601px 1928px #FFF , 1758px 1874px #FFF , 959px 327px #FFF , 1024px 364px #FFF , 685px 1573px #FFF , 1051px 112px #FFF , 573px 938px #FFF , 1212px 425px #FFF , 547px 551px #FFF , 1907px 1247px #FFF , 558px 548px #FFF , 525px 1021px #FFF , 945px 1308px #FFF , 781px 1341px #FFF , 1918px 417px #FFF , 1727px 1214px #FFF , 1978px 976px #FFF , 1454px 1636px #FFF , 873px 727px #FFF , 122px 1790px #FFF , 415px 1158px #FFF , 1886px 18px #FFF , 1608px 1935px #FFF , 1946px 1885px #FFF , 350px 1226px #FFF , 1937px 1474px #FFF , 304px 1289px #FFF , 1162px 1239px #FFF , 1256px 1771px #FFF , 1208px 623px #FFF , 385px 478px #FFF , 1768px 640px #FFF , 597px 1021px #FFF , 920px 299px #FFF , 579px 1239px #FFF , 9px 1584px #FFF , 852px 1461px #FFF , 629px 1040px #FFF , 1009px 868px #FFF , 1878px 563px #FFF , 1788px 866px #FFF , 1530px 1308px #FFF , 865px 958px #FFF , 1469px 696px #FFF , 644px 1858px #FFF , 1246px 1163px #FFF , 1230px 1516px #FFF , 1768px 151px #FFF , 1709px 836px #FFF , 881px 1439px #FFF , 1887px 1086px #FFF , 1590px 1062px #FFF , 1142px 1042px #FFF , 1272px 1479px #FFF , 1089px 1679px #FFF , 1999px 992px #FFF , 289px 556px #FFF , 174px 73px #FFF , 1567px 1009px #FFF , 1640px 858px #FFF , 1984px 1797px #FFF , 407px 1048px #FFF , 207px 103px #FFF , 511px 1431px #FFF , 1368px 444px #FFF , 1466px 1295px #FFF , 1382px 1170px #FFF , 1156px 1514px #FFF , 786px 1006px #FFF , 1114px 1072px #FFF , 1244px 743px #FFF , 204px 1525px #FFF , 894px 1386px #FFF , 1556px 1813px #FFF , 1853px 1938px #FFF , 378px 1987px #FFF , 1603px 449px #FFF , 147px 269px #FFF , 1464px 1911px #FFF , 352px 91px #FFF , 1407px 1319px #FFF , 181px 1647px #FFF , 498px 373px #FFF , 932px 627px #FFF , 574px 733px #FFF , 866px 1711px #FFF , 9px 1435px #FFF , 177px 882px #FFF , 794px 709px #FFF , 323px 631px #FFF , 1042px 864px #FFF , 1073px 1949px #FFF , 1373px 1977px #FFF , 1704px 1561px #FFF , 517px 789px #FFF , 1783px 1293px #FFF , 1189px 217px #FFF , 1055px 171px #FFF , 1539px 1448px #FFF , 1270px 46px #FFF , 1338px 93px #FFF , 1377px 396px #FFF , 622px 1353px #FFF , 1425px 1313px #FFF , 1843px 685px #FFF , 1525px 1806px #FFF , 325px 1436px #FFF , 1602px 998px #FFF , 1258px 1838px #FFF , 964px 1690px #FFF , 1298px 788px #FFF , 340px 1891px #FFF , 1797px 330px #FFF , 393px 1982px #FFF , 1020px 1076px #FFF , 1595px 1603px #FFF , 1896px 601px #FFF , 1293px 130px #FFF , 1932px 936px #FFF , 135px 381px #FFF , 287px 736px #FFF , 1674px 1769px #FFF , 803px 152px #FFF , 986px 941px #FFF , 57px 742px #FFF , 1466px 166px #FFF , 1636px 480px #FFF , 816px 1565px #FFF , 728px 1926px #FFF , 535px 1495px #FFF , 636px 1423px #FFF , 870px 1081px #FFF , 1855px 1594px #FFF , 529px 229px #FFF , 1633px 744px #FFF , 1842px 1118px #FFF , 1637px 606px #FFF , 1551px 677px #FFF , 1761px 1921px #FFF , 1105px 39px #FFF , 1757px 1347px #FFF , 1200px 22px #FFF , 377px 1973px #FFF , 1264px 1504px #FFF , 1941px 1156px #FFF , 1598px 1872px #FFF , 435px 1526px #FFF , 279px 1527px #FFF , 338px 1208px #FFF , 62px 1609px #FFF , 1901px 33px #FFF , 1832px 740px #FFF , 826px 1315px #FFF , 1399px 1001px #FFF , 1791px 1688px #FFF , 153px 411px #FFF , 275px 1908px #FFF , 904px 1224px #FFF , 676px 226px #FFF , 925px 672px #FFF , 846px 1819px #FFF , 537px 1975px #FFF , 1335px 343px #FFF , 957px 1836px #FFF , 105px 1753px #FFF , 955px 1108px #FFF , 1628px 630px #FFF , 398px 25px #FFF , 893px 709px #FFF , 73px 1627px #FFF , 1262px 1042px #FFF , 1437px 258px #FFF , 1310px 1854px #FFF , 895px 420px #FFF , 718px 681px #FFF , 1927px 1462px #FFF , 1425px 1431px #FFF , 421px 1703px #FFF , 378px 533px #FFF , 427px 1879px #FFF , 1691px 813px #FFF , 123px 1788px #FFF , 1970px 582px #FFF , 858px 1572px #FFF , 1822px 1310px #FFF , 1784px 1279px #FFF , 541px 1057px #FFF , 1558px 796px #FFF , 261px 100px #FFF , 946px 1117px #FFF , 687px 1773px #FFF , 1216px 1184px #FFF , 1654px 274px #FFF , 1512px 1893px #FFF , 233px 451px #FFF , 846px 1068px #FFF , 128px 1513px #FFF , 1199px 1098px #FFF , 1538px 1562px #FFF , 1930px 1582px #FFF , 1004px 1879px #FFF , 1551px 1046px #FFF , 886px 144px #FFF , 1727px 194px #FFF , 75px 120px #FFF , 868px 747px #FFF , 1548px 211px #FFF , 1821px 1750px #FFF , 1667px 1525px #FFF , 1181px 1651px #FFF , 1843px 316px #FFF , 1193px 1672px #FFF , 1946px 1016px #FFF , 956px 1685px #FFF , 1074px 968px #FFF , 1347px 1690px #FFF , 939px 1940px #FFF , 952px 718px #FFF , 1315px 443px #FFF , 1332px 507px #FFF , 1847px 1275px #FFF , 637px 1813px #FFF , 40px 1161px #FFF , 142px 1724px #FFF , 322px 193px #FFF , 998px 720px #FFF , 1449px 539px #FFF , 191px 1455px #FFF , 1607px 1554px #FFF , 1745px 1915px #FFF , 1398px 1107px #FFF , 1649px 1263px #FFF , 1320px 1601px #FFF , 741px 1920px #FFF , 1815px 1000px #FFF , 668px 1605px #FFF , 1409px 787px #FFF , 875px 1299px #FFF , 1525px 47px #FFF , 417px 1144px #FFF , 638px 1651px #FFF , 164px 1531px #FFF , 1984px 1751px #FFF , 838px 382px #FFF , 1126px 1866px #FFF , 400px 191px #FFF , 1214px 881px #FFF , 1554px 1549px #FFF , 204px 1555px #FFF , 1031px 1550px #FFF , 1895px 962px #FFF , 1165px 928px #FFF , 896px 1658px #FFF , 1255px 377px #FFF , 1688px 1985px #FFF , 761px 715px #FFF , 1212px 926px #FFF , 10px 1410px #FFF , 1334px 823px #FFF , 673px 483px #FFF , 718px 1280px #FFF , 194px 1904px #FFF , 362px 1392px #FFF , 261px 950px #FFF , 1438px 1526px #FFF , 733px 765px #FFF , 648px 922px #FFF , 147px 1221px #FFF , 796px 1602px #FFF , 906px 331px #FFF , 1352px 324px #FFF , 1632px 411px #FFF , 1407px 1014px #FFF , 1379px 290px #FFF , 1713px 251px #FFF , 1864px 242px #FFF , 1722px 841px #FFF , 350px 610px #FFF , 576px 39px #FFF , 2px 799px #FFF , 662px 1250px #FFF , 1501px 1305px #FFF , 369px 325px #FFF , 1836px 222px #FFF , 1056px 913px #FFF , 784px 1512px #FFF , 1319px 685px #FFF , 982px 1668px #FFF , 731px 172px #FFF , 1516px 793px #FFF , 1400px 548px #FFF , 805px 613px #FFF , 1410px 448px #FFF , 1429px 528px #FFF , 992px 954px #FFF , 1775px 893px #FFF , 1688px 990px #FFF , 203px 1912px #FFF , 1093px 1506px #FFF , 1186px 1282px #FFF , 228px 1793px #FFF , 986px 1541px #FFF , 1189px 857px #FFF , 704px 1712px #FFF , 1740px 1828px #FFF , 39px 1526px #FFF , 1758px 1364px #FFF , 1014px 1108px #FFF , 53px 464px #FFF , 1317px 1146px #FFF , 1755px 697px #FFF , 692px 1010px #FFF , 1134px 1216px #FFF , 333px 1256px #FFF , 1124px 1973px #FFF , 689px 914px #FFF , 1811px 1094px #FFF , 1923px 1315px #FFF , 1761px 1472px #FFF , 1873px 188px #FFF , 49px 1227px #FFF , 1833px 925px #FFF , 1448px 1575px #FFF , 473px 1804px #FFF , 721px 1722px #FFF , 232px 881px #FFF , 1658px 828px #FFF , 1882px 51px #FFF , 1646px 1146px #FFF , 1142px 1983px #FFF , 748px 881px #FFF , 1667px 164px #FFF , 278px 1341px #FFF , 920px 370px #FFF , 1484px 1564px #FFF , 1159px 788px #FFF , 1904px 333px #FFF , 962px 632px #FFF , 1793px 1612px #FFF , 1544px 78px #FFF , 1579px 1114px #FFF , 1900px 1959px #FFF , 1471px 596px #FFF , 1831px 632px #FFF , 450px 1985px #FFF , 1200px 1396px #FFF , 1567px 1905px #FFF , 513px 201px #FFF , 1515px 626px #FFF , 1704px 1153px #FFF , 1208px 1109px #FFF , 759px 1634px #FFF , 1111px 1889px #FFF , 1223px 1876px #FFF , 1301px 1602px #FFF , 180px 942px #FFF , 1753px 1070px #FFF , 1967px 1792px #FFF , 1440px 1689px #FFF , 1981px 377px #FFF , 1283px 1419px #FFF , 1639px 917px #FFF , 698px 1116px #FFF , 169px 208px #FFF , 491px 978px #FFF , 1912px 934px #FFF , 667px 393px #FFF , 1056px 1692px #FFF , 295px 1745px #FFF , 314px 909px #FFF , 101px 1913px #FFF , 61px 712px #FFF , 1158px 1005px #FFF , 1367px 917px #FFF , 1516px 573px #FFF , 135px 1007px #FFF , 276px 986px #FFF , 525px 1331px #FFF , 491px 1578px #FFF , 532px 1169px #FFF , 1765px 1000px #FFF , 231px 254px #FFF , 489px 1582px #FFF , 647px 1397px #FFF , 1345px 862px #FFF , 184px 1494px #FFF , 668px 559px #FFF , 1998px 533px #FFF , 1440px 745px #FFF , 988px 148px #FFF , 1735px 1231px #FFF , 1156px 1085px #FFF , 1539px 1259px #FFF , 626px 53px #FFF , 1576px 550px #FFF , 740px 170px #FFF , 718px 677px #FFF , 146px 856px #FFF , 445px 939px #FFF , 1490px 789px #FFF , 274px 972px #FFF , 1632px 1420px #FFF , 317px 343px #FFF , 42px 1334px #FFF , 1614px 1414px #FFF , 494px 1649px #FFF , 525px 1657px #FFF , 339px 184px #FFF , 727px 424px #FFF , 1864px 1541px #FFF , 829px 387px #FFF , 312px 1448px #FFF , 1069px 88px #FFF , 876px 541px #FFF , 1508px 283px #FFF , 1032px 792px #FFF , 334px 61px #FFF , 1867px 1734px #FFF , 629px 1387px #FFF , 131px 1220px #FFF , 1528px 301px #FFF , 629px 407px #FFF , 580px 29px #FFF , 118px 1654px #FFF , 319px 1143px #FFF , 172px 1639px #FFF , 1965px 1285px #FFF , 537px 1538px #FFF , 775px 892px #FFF , 1600px 429px #FFF , 329px 345px #FFF , 426px 717px #FFF , 1330px 1715px #FFF , 1320px 498px #FFF , 118px 892px #FFF , 723px 1105px #FFF , 1568px 1267px #FFF , 1925px 1912px #FFF , 868px 249px #FFF , 1529px 784px #FFF , 857px 736px #FFF , 601px 1020px #FFF , 1876px 1610px #FFF , 1035px 951px #FFF , 1447px 1349px #FFF , 445px 811px #FFF , 1153px 1169px #FFF , 1126px 1045px #FFF , 509px 1556px #FFF , 1422px 569px #FFF , 781px 523px #FFF , 1534px 1006px #FFF , 136px 426px #FFF , 1125px 928px #FFF , 458px 412px #FFF , 1666px 186px #FFF , 531px 1111px #FFF , 275px 1820px #FFF , 757px 1136px #FFF , 1088px 1596px #FFF , 1920px 758px #FFF , 542px 1885px #FFF , 1241px 153px #FFF , 655px 405px #FFF , 1187px 667px #FFF , 486px 1005px #FFF , 537px 172px #FFF , 1528px 977px #FFF , 1105px 563px #FFF , 318px 1112px #FFF , 1754px 1234px #FFF , 645px 1429px #FFF , 941px 1228px #FFF , 1152px 1573px #FFF , 817px 888px #FFF , 685px 1236px #FFF , 1671px 1964px #FFF , 1293px 1626px #FFF , 889px 223px #FFF , 689px 1556px #FFF , 35px 1834px #FFF , 1679px 2px #FFF , 1020px 1910px #FFF , 1491px 1207px #FFF , 1018px 532px #FFF , 157px 1359px #FFF , 737px 877px #FFF , 28px 397px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 395px 992px #FFF , 1419px 1407px #FFF , 1214px 1932px #FFF , 133px 178px #FFF , 1263px 380px #FFF , 826px 692px #FFF , 1526px 1488px #FFF , 401px 314px #FFF , 33px 152px #FFF , 573px 579px #FFF , 71px 863px #FFF , 1392px 602px #FFF , 921px 37px #FFF , 1310px 1957px #FFF , 1405px 1065px #FFF , 63px 122px #FFF , 560px 1884px #FFF , 468px 840px #FFF , 114px 511px #FFF , 1571px 241px #FFF , 1922px 207px #FFF , 1397px 144px #FFF , 1497px 232px #FFF , 722px 562px #FFF , 1575px 1710px #FFF , 886px 98px #FFF , 531px 1228px #FFF , 931px 233px #FFF , 423px 480px #FFF , 120px 901px #FFF , 1770px 1197px #FFF , 12px 1530px #FFF , 437px 974px #FFF , 65px 1465px #FFF , 1319px 1061px #FFF , 903px 1887px #FFF , 1701px 414px #FFF , 1542px 527px #FFF , 1228px 722px #FFF , 178px 366px #FFF , 540px 1150px #FFF , 1104px 1716px #FFF , 1509px 820px #FFF , 1988px 1534px #FFF , 301px 238px #FFF , 130px 1786px #FFF , 1398px 740px #FFF , 377px 921px #FFF , 280px 58px #FFF , 1358px 1696px #FFF , 948px 218px #FFF , 1838px 1554px #FFF , 1946px 1826px #FFF , 1868px 1140px #FFF , 1449px 1202px #FFF , 1975px 1488px #FFF , 1890px 1117px #FFF , 90px 803px #FFF , 915px 640px #FFF , 1567px 405px #FFF , 1933px 437px #FFF , 1709px 67px #FFF , 583px 127px #FFF , 787px 475px #FFF , 1400px 120px #FFF , 1505px 1091px #FFF , 1137px 1117px #FFF , 722px 1615px #FFF , 1101px 1091px #FFF , 598px 184px #FFF , 141px 490px #FFF , 212px 1448px #FFF , 1207px 1660px #FFF , 253px 1624px #FFF , 1227px 267px #FFF , 1166px 246px #FFF , 865px 194px #FFF , 827px 980px #FFF , 1581px 1826px #FFF , 669px 1633px #FFF , 1440px 1840px #FFF , 1794px 65px #FFF , 97px 1434px #FFF , 319px 209px #FFF , 1243px 1312px #FFF , 411px 835px #FFF , 1640px 114px #FFF , 974px 39px #FFF , 1381px 1115px #FFF , 920px 602px #FFF , 219px 1138px #FFF , 704px 336px #FFF , 1656px 656px #FFF , 1017px 486px #FFF , 13px 721px #FFF , 432px 453px #FFF , 1576px 520px #FFF , 702px 457px #FFF , 896px 240px #FFF , 1952px 1510px #FFF , 395px 1760px #FFF , 1432px 71px #FFF , 1518px 1550px #FFF , 979px 71px #FFF , 961px 1641px #FFF , 1000px 1117px #FFF , 922px 1587px #FFF , 92px 649px #FFF , 1809px 696px #FFF , 298px 236px #FFF , 755px 183px #FFF , 1683px 599px #FFF , 914px 382px #FFF , 1612px 725px #FFF , 821px 930px #FFF , 1869px 1708px #FFF , 1251px 993px #FFF , 1524px 667px #FFF , 1852px 910px #FFF , 1056px 1451px #FFF , 980px 1534px #FFF , 1143px 1738px #FFF , 640px 1533px #FFF , 1387px 1194px #FFF , 1937px 37px #FFF , 1744px 465px #FFF , 912px 1300px #FFF , 836px 584px #FFF , 116px 369px #FFF , 950px 1601px #FFF , 1031px 244px #FFF , 1256px 1904px #FFF , 359px 1256px #FFF , 1471px 1233px #FFF , 683px 1166px #FFF , 842px 807px #FFF , 400px 346px #FFF , 783px 286px #FFF , 191px 1659px #FFF , 1937px 203px #FFF , 1889px 697px #FFF , 110px 215px #FFF , 1671px 406px #FFF , 1630px 630px #FFF , 1662px 559px #FFF , 1786px 1596px #FFF , 1485px 976px #FFF , 200px 1062px #FFF , 744px 1541px #FFF , 914px 118px #FFF , 199px 1618px #FFF , 1966px 1684px #FFF , 1696px 11px #FFF , 1178px 841px #FFF , 48px 1850px #FFF , 1671px 1852px #FFF , 1340px 1421px #FFF , 202px 1700px #FFF , 1196px 722px #FFF , 1308px 1568px #FFF , 83px 951px #FFF , 1035px 56px #FFF , 1472px 1133px #FFF , 714px 138px #FFF , 838px 1691px #FFF , 147px 302px #FFF , 171px 1635px #FFF , 1295px 249px #FFF , 722px 486px #FFF , 123px 181px #FFF , 1326px 1189px #FFF , 1332px 489px #FFF , 865px 479px #FFF , 1005px 1478px #FFF , 1297px 272px #FFF , 500px 399px #FFF , 1087px 198px #FFF , 497px 70px #FFF , 1662px 1923px #FFF , 708px 1455px #FFF , 1256px 220px #FFF , 83px 1932px #FFF , 1089px 341px #FFF , 591px 1812px #FFF , 48px 473px #FFF , 1717px 181px #FFF , 1415px 552px #FFF , 486px 1235px #FFF , 1458px 915px #FFF , 844px 460px #FFF , 307px 1367px #FFF , 53px 829px #FFF , 1337px 1832px #FFF , 1464px 392px #FFF , 842px 139px #FFF , 742px 1951px #FFF , 1254px 1826px #FFF , 979px 259px #FFF , 1836px 1420px #FFF , 1578px 1009px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 395px 992px #FFF , 1419px 1407px #FFF , 1214px 1932px #FFF , 133px 178px #FFF , 1263px 380px #FFF , 826px 692px #FFF , 1526px 1488px #FFF , 401px 314px #FFF , 33px 152px #FFF , 573px 579px #FFF , 71px 863px #FFF , 1392px 602px #FFF , 921px 37px #FFF , 1310px 1957px #FFF , 1405px 1065px #FFF , 63px 122px #FFF , 560px 1884px #FFF , 468px 840px #FFF , 114px 511px #FFF , 1571px 241px #FFF , 1922px 207px #FFF , 1397px 144px #FFF , 1497px 232px #FFF , 722px 562px #FFF , 1575px 1710px #FFF , 886px 98px #FFF , 531px 1228px #FFF , 931px 233px #FFF , 423px 480px #FFF , 120px 901px #FFF , 1770px 1197px #FFF , 12px 1530px #FFF , 437px 974px #FFF , 65px 1465px #FFF , 1319px 1061px #FFF , 903px 1887px #FFF , 1701px 414px #FFF , 1542px 527px #FFF , 1228px 722px #FFF , 178px 366px #FFF , 540px 1150px #FFF , 1104px 1716px #FFF , 1509px 820px #FFF , 1988px 1534px #FFF , 301px 238px #FFF , 130px 1786px #FFF , 1398px 740px #FFF , 377px 921px #FFF , 280px 58px #FFF , 1358px 1696px #FFF , 948px 218px #FFF , 1838px 1554px #FFF , 1946px 1826px #FFF , 1868px 1140px #FFF , 1449px 1202px #FFF , 1975px 1488px #FFF , 1890px 1117px #FFF , 90px 803px #FFF , 915px 640px #FFF , 1567px 405px #FFF , 1933px 437px #FFF , 1709px 67px #FFF , 583px 127px #FFF , 787px 475px #FFF , 1400px 120px #FFF , 1505px 1091px #FFF , 1137px 1117px #FFF , 722px 1615px #FFF , 1101px 1091px #FFF , 598px 184px #FFF , 141px 490px #FFF , 212px 1448px #FFF , 1207px 1660px #FFF , 253px 1624px #FFF , 1227px 267px #FFF , 1166px 246px #FFF , 865px 194px #FFF , 827px 980px #FFF , 1581px 1826px #FFF , 669px 1633px #FFF , 1440px 1840px #FFF , 1794px 65px #FFF , 97px 1434px #FFF , 319px 209px #FFF , 1243px 1312px #FFF , 411px 835px #FFF , 1640px 114px #FFF , 974px 39px #FFF , 1381px 1115px #FFF , 920px 602px #FFF , 219px 1138px #FFF , 704px 336px #FFF , 1656px 656px #FFF , 1017px 486px #FFF , 13px 721px #FFF , 432px 453px #FFF , 1576px 520px #FFF , 702px 457px #FFF , 896px 240px #FFF , 1952px 1510px #FFF , 395px 1760px #FFF , 1432px 71px #FFF , 1518px 1550px #FFF , 979px 71px #FFF , 961px 1641px #FFF , 1000px 1117px #FFF , 922px 1587px #FFF , 92px 649px #FFF , 1809px 696px #FFF , 298px 236px #FFF , 755px 183px #FFF , 1683px 599px #FFF , 914px 382px #FFF , 1612px 725px #FFF , 821px 930px #FFF , 1869px 1708px #FFF , 1251px 993px #FFF , 1524px 667px #FFF , 1852px 910px #FFF , 1056px 1451px #FFF , 980px 1534px #FFF , 1143px 1738px #FFF , 640px 1533px #FFF , 1387px 1194px #FFF , 1937px 37px #FFF , 1744px 465px #FFF , 912px 1300px #FFF , 836px 584px #FFF , 116px 369px #FFF , 950px 1601px #FFF , 1031px 244px #FFF , 1256px 1904px #FFF , 359px 1256px #FFF , 1471px 1233px #FFF , 683px 1166px #FFF , 842px 807px #FFF , 400px 346px #FFF , 783px 286px #FFF , 191px 1659px #FFF , 1937px 203px #FFF , 1889px 697px #FFF , 110px 215px #FFF , 1671px 406px #FFF , 1630px 630px #FFF , 1662px 559px #FFF , 1786px 1596px #FFF , 1485px 976px #FFF , 200px 1062px #FFF , 744px 1541px #FFF , 914px 118px #FFF , 199px 1618px #FFF , 1966px 1684px #FFF , 1696px 11px #FFF , 1178px 841px #FFF , 48px 1850px #FFF , 1671px 1852px #FFF , 1340px 1421px #FFF , 202px 1700px #FFF , 1196px 722px #FFF , 1308px 1568px #FFF , 83px 951px #FFF , 1035px 56px #FFF , 1472px 1133px #FFF , 714px 138px #FFF , 838px 1691px #FFF , 147px 302px #FFF , 171px 1635px #FFF , 1295px 249px #FFF , 722px 486px #FFF , 123px 181px #FFF , 1326px 1189px #FFF , 1332px 489px #FFF , 865px 479px #FFF , 1005px 1478px #FFF , 1297px 272px #FFF , 500px 399px #FFF , 1087px 198px #FFF , 497px 70px #FFF , 1662px 1923px #FFF , 708px 1455px #FFF , 1256px 220px #FFF , 83px 1932px #FFF , 1089px 341px #FFF , 591px 1812px #FFF , 48px 473px #FFF , 1717px 181px #FFF , 1415px 552px #FFF , 486px 1235px #FFF , 1458px 915px #FFF , 844px 460px #FFF , 307px 1367px #FFF , 53px 829px #FFF , 1337px 1832px #FFF , 1464px 392px #FFF , 842px 139px #FFF , 742px 1951px #FFF , 1254px 1826px #FFF , 979px 259px #FFF , 1836px 1420px #FFF , 1578px 1009px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1298px 1241px #FFF , 831px 1003px #FFF , 780px 865px #FFF , 1481px 1395px #FFF , 1588px 1835px #FFF , 1985px 1952px #FFF , 748px 755px #FFF , 1504px 57px #FFF , 1670px 297px #FFF , 1577px 546px #FFF , 1904px 856px #FFF , 339px 400px #FFF , 1936px 498px #FFF , 1849px 1288px #FFF , 1157px 1664px #FFF , 425px 241px #FFF , 352px 882px #FFF , 1226px 1692px #FFF , 604px 376px #FFF , 645px 1276px #FFF , 1509px 1530px #FFF , 935px 1109px #FFF , 1460px 1258px #FFF , 60px 1630px #FFF , 1116px 856px #FFF , 1394px 1707px #FFF , 985px 907px #FFF , 618px 1379px #FFF , 618px 1645px #FFF , 1567px 846px #FFF , 706px 659px #FFF , 76px 345px #FFF , 925px 1030px #FFF , 1322px 905px #FFF , 522px 1775px #FFF , 776px 727px #FFF , 1195px 871px #FFF , 312px 826px #FFF , 1976px 345px #FFF , 748px 1311px #FFF , 1561px 520px #FFF , 172px 1350px #FFF , 929px 1450px #FFF , 1148px 1630px #FFF , 1443px 1566px #FFF , 347px 1864px #FFF , 88px 350px #FFF , 370px 1271px #FFF , 372px 1040px #FFF , 1359px 911px #FFF , 1448px 1799px #FFF , 1015px 1879px #FFF , 508px 1538px #FFF , 1404px 1541px #FFF , 1671px 441px #FFF , 1493px 7px #FFF , 1850px 543px #FFF , 209px 559px #FFF , 1667px 1628px #FFF , 975px 593px #FFF , 516px 680px #FFF , 921px 47px #FFF , 1784px 1039px #FFF , 1597px 316px #FFF , 587px 660px #FFF , 172px 22px #FFF , 355px 1467px #FFF , 1464px 307px #FFF , 838px 1230px #FFF , 568px 1466px #FFF , 1179px 932px #FFF , 428px 1130px #FFF , 1496px 385px #FFF , 1599px 1074px #FFF , 1905px 451px #FFF , 718px 1802px #FFF , 305px 1118px #FFF , 1416px 376px #FFF , 1654px 986px #FFF , 1957px 726px #FFF , 753px 233px #FFF , 597px 1685px #FFF , 271px 1700px #FFF , 716px 341px #FFF , 1010px 23px #FFF , 709px 242px #FFF , 1831px 415px #FFF , 354px 919px #FFF , 1850px 1735px #FFF , 1245px 1347px #FFF , 842px 160px #FFF , 700px 937px #FFF , 859px 957px #FFF , 1213px 321px #FFF , 90px 1611px #FFF , 1841px 412px #FFF , 1196px 1569px #FFF , 1736px 918px #FFF , 1170px 885px #FFF , 1102px 639px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1298px 1241px #FFF , 831px 1003px #FFF , 780px 865px #FFF , 1481px 1395px #FFF , 1588px 1835px #FFF , 1985px 1952px #FFF , 748px 755px #FFF , 1504px 57px #FFF , 1670px 297px #FFF , 1577px 546px #FFF , 1904px 856px #FFF , 339px 400px #FFF , 1936px 498px #FFF , 1849px 1288px #FFF , 1157px 1664px #FFF , 425px 241px #FFF , 352px 882px #FFF , 1226px 1692px #FFF , 604px 376px #FFF , 645px 1276px #FFF , 1509px 1530px #FFF , 935px 1109px #FFF , 1460px 1258px #FFF , 60px 1630px #FFF , 1116px 856px #FFF , 1394px 1707px #FFF , 985px 907px #FFF , 618px 1379px #FFF , 618px 1645px #FFF , 1567px 846px #FFF , 706px 659px #FFF , 76px 345px #FFF , 925px 1030px #FFF , 1322px 905px #FFF , 522px 1775px #FFF , 776px 727px #FFF , 1195px 871px #FFF , 312px 826px #FFF , 1976px 345px #FFF , 748px 1311px #FFF , 1561px 520px #FFF , 172px 1350px #FFF , 929px 1450px #FFF , 1148px 1630px #FFF , 1443px 1566px #FFF , 347px 1864px #FFF , 88px 350px #FFF , 370px 1271px #FFF , 372px 1040px #FFF , 1359px 911px #FFF , 1448px 1799px #FFF , 1015px 1879px #FFF , 508px 1538px #FFF , 1404px 1541px #FFF , 1671px 441px #FFF , 1493px 7px #FFF , 1850px 543px #FFF , 209px 559px #FFF , 1667px 1628px #FFF , 975px 593px #FFF , 516px 680px #FFF , 921px 47px #FFF , 1784px 1039px #FFF , 1597px 316px #FFF , 587px 660px #FFF , 172px 22px #FFF , 355px 1467px #FFF , 1464px 307px #FFF , 838px 1230px #FFF , 568px 1466px #FFF , 1179px 932px #FFF , 428px 1130px #FFF , 1496px 385px #FFF , 1599px 1074px #FFF , 1905px 451px #FFF , 718px 1802px #FFF , 305px 1118px #FFF , 1416px 376px #FFF , 1654px 986px #FFF , 1957px 726px #FFF , 753px 233px #FFF , 597px 1685px #FFF , 271px 1700px #FFF , 716px 341px #FFF , 1010px 23px #FFF , 709px 242px #FFF , 1831px 415px #FFF , 354px 919px #FFF , 1850px 1735px #FFF , 1245px 1347px #FFF , 842px 160px #FFF , 700px 937px #FFF , 859px 957px #FFF , 1213px 321px #FFF , 90px 1611px #FFF , 1841px 412px #FFF , 1196px 1569px #FFF , 1736px 918px #FFF , 1170px 885px #FFF , 1102px 639px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(73, 73, 73, 0.5);
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #eece1a;
}

main {
  padding: 4rem;
  height: 100%;
}
main .icons {
  margin-top: 1rem;
}
main .icons a {
  padding: 0.4rem;
}
main .icons a:hover {
  color: #eece1a;
  transition: all 0.5s ease-out;
}
main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}
.about-info .bio-image {
  grid-area: bioimage;
  max-height: 300px;
  max-width: 300px;
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
  border: #eece1a 3px solid;
}
.about-info .bio {
  grid-area: bio;
  font-size: 1rem;
  text-align: justify;
}
.about-info .job-1 {
  grid-area: job1;
  text-align: justify;
}
.about-info .job-2 {
  grid-area: job2;
  text-align: justify;
}
.about-info .job-3 {
  grid-area: job3;
  text-align: justify;
}
.about-info .job {
  background: #515151;
  padding: 0.5rem;
  border-bottom: #eece1a 5px solid;
}

.projects {
  display: grid;
  grid-gap: 0.9rem;
  grid-template-columns: repeat(3, 1fr);
}
.projects img {
  max-height: 300px;
  max-width: 300px;
  width: 300px;
  height: 220px;
  border: 3px #fff solid;
}
.projects img:hover {
  opacity: 0.5;
  border-color: #eece1a;
  transition: all 0.5s ease-out;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0rem;
}
.boxes div {
  font-size: 15px;
  border: 3px #fff solid;
  padding: 1rem;
  margin-bottom: 2rem;
  transition: all 0.5s ease-out;
}
.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #eece1a;
  color: #000;
}
.boxes div:hover span {
  color: #000;
}

.button01 {
  width: 100%;
  display: inline-block;
  padding: 0.5em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 12px;
  font-size: 17px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  background-color: #668fff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

.button01:hover {
  border-color: #668fff;
  background: rgb(24, 127, 223);
  color: whitesmoke;
}

.btn,
.btn-dark,
.btn-light {
  display: inline-block;
  padding: 0.5rem 1rem;
  width: 300px;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #eece1a;
  color: #000;
}

.btn-dark {
  background: #0099cc;
  color: #fff;
}

.btn-light {
  background: #c4c4c4;
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px;
}

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background: url("../img/me4.jpg");
    width: 150px;
    height: 150px;
  }
  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }
  main #home h1 {
    margin-top: 10vh;
  }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 3rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}

.body-contact {
  color: #485e74;
}
.container-b {
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
}

.brand span {
  color: #fff;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > * {
  padding: 1em;
}

.company-info {
  background: black;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact {
  background: #f9feff;
  color: #485e74;
}

/* FORM STYLES */
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #c9e6ff;
}

.contact form button {
  background: #c9e6ff;
  border: 0;
  text-transform: uppercase;
}

.contact form button {
  width: 100%;
  display: inline-block;
  padding: 0.5em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 12px;
  font-size: 17px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  background-color: #668fff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
  outline: 0;
  transition: background-color 2s ease-out;
}

.contact form button:hover {
  border-color: #668fff;
  background: rgb(24, 127, 223);
  color: whitesmoke;
}

/*.contact form button:hover,
.contact form button:focus {
  background: #92bde7;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}*/

/* LARGE SCREENS */
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}

#error_message {
  margin-bottom: 20px;
  background: #080808;
  color: #f9feff;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
  transition-timing-function: ease-in;
}
